<?php

$rules = [
    '@Symfony'                     => true,
    'blank_line_after_opening_tag' => false, // <?php declare(strict_types=1);
    'binary_operator_spaces'       => [
        'operators' => [
            '=>' => 'align',
        ],
    ],
    'declare_strict_types'         => true,
];

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setRules($rules)
    ->setUsingCache(true);
