<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="ozon-seller">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="zend.assertions" value="1"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
